@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "./incudes/_bootstrap-overrides.scss";
@import "./incudes/_google-fonts.scss";
@import "./incudes/_top-nav.scss";
@import "./incudes/_footer-menu.scss";
@import "./incudes/_deal-block.scss";
@import "./incudes/_claim-block.scss";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Play', sans-serif;
}

a {
  color: black;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.npm-container {
  width: 100%;
  max-width: 100%;
}

.npm-carousel {
  width: 100%;
  background-color: black;
  position: relative;

  .npm-carousel--slogan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: $spacer*2;
    font-size: 35px;
    font-family: 'Play', sans-serif;

    p {
      margin: 0;
    }

    @media (max-width: 992px) {
      position: relative;
      background-color: black;
      font-size: 4vw;
    }
  }
}

/**
center quote text on main page
 */
.center-quote {
  h2 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: #666666;
    font-size: 24px;
    line-height: 2;
    margin: 0;
    @media (max-width: 992px) {
      font-size: 4vw;
      br {
        visibility: hidden;
        display: none;
      }
    }
  }
}

/**
avatar quote text on main page
 */
.avatar-quote {
  h3 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: #666666;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    @media (max-width: 992px) {
      font-size: 4vw;
      br {
        visibility: hidden;
        display: none;
      }
    }
  }
}

.avatar-image {
  justify-content: center;
  align-items: center;
  display: flex;

  .wp-block-image {
    margin: 0;
    padding: 0;
    max-width: 150px;

    img {
      width: 100%;
    }
  }
}

.avatar-quote {
  p {
    margin-top: 1rem;

    a {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.join-cta {
  background-color: black;
  display: flex;
  align-items: center;

  h3 {
    font-family: 'Play', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.join-cta-button {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;

    a {
      text-transform: uppercase;
      @extend .btn;
      @extend .button-join;
      @extend .btn-lg;

      &:hover {
        border-color: #fff;
      }
    }
  }
}

.packages-cta {
  background-color: white;
  display: flex;
  align-items: center;

  h3 {
    font-family: 'Play', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;

    a {
      color: black;
      text-decoration: underline;
    }
  }
}

.generic-image {
  padding-top: $spacer;

  .wp-block-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.generic-text {
  padding-top: $spacer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.address-block {

}

.form-block {
  .nf-form-fields-required {
    margin-bottom: $spacer;
  }

  .nf-form-content {
    padding: 0;
  }
}