@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "./incudes/_bootstrap-overrides.scss";
@import "./incudes/_google-fonts.scss";
@import "./incudes/_top-nav.scss";

.npm-carousel {
  width: 100%;
  background-color: black;
  position: relative;
}