@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "./incudes/_bootstrap-overrides.scss";
@import "./incudes/_google-fonts.scss";
@import "./incudes/_top-nav.scss";

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.npm-carousel {
  width: 100%;
  background-color: black;
  position: relative;

  .npm-carousel--slogan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 35px;
    font-family: 'Aldrich', sans-serif;

    p {
      margin: 0;
    }

    @media (max-width: 992px) {
      position: relative;
      background-color: black;
      font-size: 4vw;
    }
  }
}

/**
center quote text on main page
 */
h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  line-height: 2;
  @media (max-width: 992px) {
    font-size: 4vw;
    br {
      visibility: hidden;
      display: none;
    }
  }
}

.claim-block {
  position: relative;

  h3 {
    font-family: 'Aldrich', sans-serif;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    width: 100%;
    margin: 0;
    padding: 1rem;
    bottom: 0;
  }

  .wp-block-image {
    margin: 0;
    padding: 0;

    img {
      width: 100%;
    }

    @media (max-width: 992px) {
      max-height: 380px;
      overflow: hidden;
    }
  }
}