.deal-block {
  padding: $spacer*2 $spacer;
  text-align: center;

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

    tbody {

      // header
      tr:nth-child(1) {
        font-size: 35px;
        background: linear-gradient(180deg, #262626 24%, black 52%);
        color: white;
        line-height: 1;
      }

      // header

      // price
      tr:nth-child(2) {
        font-size: 25px;
        color: black;
        border-bottom: 1px solid #c8c8c8;
      }

      // price

      // condition

      tr:nth-child(3) {
        font-size: 25px;
        color: black;
        border-bottom: 1px solid #c8c8c8;
      }

      // condition

      //  button
      tr {
        td {
          padding: $spacer;

          a {
            cursor: pointer;
            text-transform: uppercase;
            @extend .btn;
            @extend .button-buy;
            @extend .btn-lg;
          }
        }
      }

      //  button
    }
  }
}