html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Play', sans-serif;
}

a {
  color: black;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background-color: black;
  color: white;
}