.npm-carousel {
  &:before {
    content: "";
    display: block;
    height: 171px;
    background-color: white;
    @media (max-width: 992px) {
      justify-content: center;
      height: 166px;
    }
  }
}

.npm-top-nav {


  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, .95);
  width: 100%;

  @media (max-width: 992px) {
    background-color: rgba(255, 255, 255, 1);
  }

  .nmp-top-nav--top {

    display: flex;
    justify-content: space-between;

    // logo
    .top--left {
      img {
        height: 115px;
        padding: 1rem;
        @media (max-width: 992px) {
          height: 75px;
          padding: .5rem;
        }
      }
    }

    // end logo

    //join button
    .top--right {
      padding: 1rem;
    }

    // end join button
  }

  .nmp-top-nav--bottom {
    display: flex;
    justify-content: space-between;
    // map link
    .bottom--left {
      display: flex;
      align-items: center;
      padding: $spacer;
      color: white;
      background-color: black;
      font-family: 'Arial', sans-serif;

      i {
        margin-right: $spacer;
      }

      @media (max-width: 992px) {
        justify-content: center;
        padding: $spacer/2;
        font-size: 15px;
        font-size: 4vw;
      }
    }

    // bootstrap-menu
    .bottom--right {
      margin-right: 2rem;
      font-family: 'Michroma', sans-serif;
      @media (max-width: 992px) {
        margin-right: 0;
        justify-content: center;
      }

      .navbar {
        justify-content: center;
      }
    }

    //end bootstrap-menu


    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}